mixin title-with-bottom-line(title, text)
    .title.title--with-bottom-line
        h2.title__header=title
        .title__text=text

mixin title-without(title, text)
    .title
        h2.title.title__header=title
        .title__text=text

mixin list-with-steps(className,title,image__src,text)
    li(class=className+'__item')
        div(class=className+'__image')
            img(class=className+'__picture' src=image__src alt="picture")
            div(class=className+'__step') step
        div(class=className+'__text')
            div(class=className+'__title')=title
            p(class=className+'__description')=text

mixin list-without-odd(className,title,image__scr,text)
    li(class=className+'__item '+className+'__item--name')
        div(class=className+'__name') Project
        div(class=className+'__description') Fasebook marketing
    li(class=className+'__item')
        img(class=className+'__picture' src=image__scr alt="picture")

mixin list-without-even(className,title,image__scr,text)
    li(class=className+'__item')
        img(class=className+'__picture' src=image__scr alt="picture")
    li(class=className+'__item '+className+'__item--name')
        div(class=className+'__name') Project
        div(class=className+'__description') Fasebook marketing
